<aside class="sidebar">
  <div class="logo">YAJOO</div>

  <nav class="nav-menu">
    <a
      routerLink="/"
      class="nav-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >HOME</a
    >
    <a routerLink="/live" class="nav-item" routerLinkActive="active">LIVE</a>
    <a routerLink="/project" class="nav-item" routerLinkActive="active">PROJECT</a>
    <a routerLink="/gallery" class="nav-item" routerLinkActive="active">GALLERY</a>
    <a routerLink="/contact" class="nav-item" routerLinkActive="active">CONTACT</a>
  </nav>

  <!-- Empty container or copyright space to preserve layout spacing -->
  <div class="sidebar-footer"></div>
</aside>
